/* 독후감쓰기 > 책 상세 */

span{width:30px;height:30px;.dpinblock;.radius(50%);.taC;.lh30;.f15;color:@white;.poA;left:20px;top:10px;.bg-red;}
  &:nth-child(odd) span{.bg-red;}
  &:nth-child(even) span{.bg-orange;}
  
를 아래처럼 수정(2군데 있음)
  
/* 독후감쓰기 > 책 상세 */
span{width:30px;height:30px;.dpinblock;.radius(50%);.taC;.lh30;.f15;color:@white;.poA;left:20px;top:10px;.bg-red;}



마지막 부분에 추가

/* 추가 2017.01 */
.bookfriend_con{
    .tab-wrapper{.poR;
        .btn_booklist{.poA;right:0;top:20px;
            i{.dpinblock;.vaM;.mR05;}
        }
    }
}
