.book_view_w .auth_result ul li span {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  color: #ffffff;
  position: absolute;
  left: 20px;
  top: 10px;
  background-color: #e74445;
}
.book_view_w .auth_result ul li:nth-child(odd) span {
  background-color: #e74445;
}
.book_view_w .auth_result ul li:nth-child(even) span {
  background-color: #ff9500;
}

를 아래처럼 수정 (2군데 있음)

.book_view_w .auth_result ul li span {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  color: #ffffff;
  position: absolute;
  left: 20px;
  top: 10px;
  background-color: #e74445;
}

마지막 부분에 추가

/* 추가 2017.01 */
.bookfriend_con .tab-wrapper {
  position: relative;
}
.bookfriend_con .tab-wrapper .btn_booklist {
  position: absolute;
  right: 0;
  top: 20px;
}
.bookfriend_con .tab-wrapper .btn_booklist i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}


이달의 고전을 아래처럼 수정

/* 이달의 고전 */
.classic_lists .con .con_txt {
  width: 100%;
  clear: both;
  font-size: 13px;
  color: #555555;
  line-height: 1.4em;
  text-align: left;
}
.classic_lists .con .con_txt .con_Q {
  width: 100%;
  clear: both;
  font-size: 13px;
  margin-top: 15px;
  position: relative;
  padding: 8px 0 0 75px;
  min-height: 30px;
}
.classic_lists .con .con_txt .con_Q span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  padding: 0 15px;
  line-height: 30px;
  background-color: #e74445;
  color: #ffffff;
  border-radius: 5px;
}
