/* 인증서 인쇄하기 */
.pop_cert .pop_cert_HD {
  width: 100%;
  clear: both;
}
.pop_cert .pop_cert_HD:after {
  content: "";
  height: 0;
  line-height: 0;
  clear: both;
  display: block;
  *zoom: 1;
}
.pop_cert .pop_cert_HD .my_avatar {
  border: 2px solid #d1d1d1;
  float: left;
  position: relative;
  z-index: 1;
}
.pop_cert .pop_cert_HD .my_avatar .my_pic {
  z-index: 1;
  width: 120px;
  height: 120px;
}
.pop_cert .pop_cert_HD .my_avatar .my_pic img {
  width: 120px;
  height: 120px;
}
.pop_cert .pop_cert_HD .my_avatar .my_grade {
  position: absolute;
  z-index: 10;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}
.pop_cert .pop_cert_HD .my_avatar .my_grade img {
  width: 40px;
  height: 40px;
}
.pop_cert .pop_cert_HD .my_avatar .my_grade:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #2e3235;
  opacity: 0.6;
}
.pop_cert .pop_cert_HD .pop_cert_ttl {
  float: left;
  margin: 30px 0 0 20px;
  font-size: 17px;
  line-height: 1.6em;
}
.pop_cert .pop_cert_HD .pop_cert_ttl b {
  color: #e74445;
}
.pop_cert .pop_cert_HD .pop_cert_print {
  float: right;
  width: 100px;
  height: 100px;
  border: 1px solid #e1e1e1;
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #555555;
  background-position: 0 0;
}
.pop_cert .pop_cert_HD .pop_cert_print i {
  width: 40px;
  height: 40px;
  background-image: url('/images/pop_cert_print.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin: 20px auto 10px auto;
}
.pop_cert .pop_cert_HD .pop_cert_print:hover {
  background-color: #e74445;
  color: #ffffff;
  text-decoration: none;
}
.pop_cert .pop_cert_HD .pop_cert_print:hover i {
  background-position: 0 -50px;
}
.pop_cert .pop_cert_MD {
  width: 100%;
  clear: both;
  height: 290px;
  border: 1px solid #e1e1e1;
  background-position: center center;
  padding: 30px;
}
.pop_cert .pop_cert_MD .cert_pp_bg {
  display: inline-block;
  z-index: -1;
  position: absolute;
  left: 50%;
  margin: 50px 0 0 -75px;
}
.pop_cert .pop_cert_MD .cert_pp_ttl {
  width: 100%;
  clear: both;
  text-align: center;
  font-size: 25px;
  font-family: 'nbgB';
  margin-bottom: 10px;
  color: #2e3235;
}
.pop_cert .pop_cert_MD .cert_pp_who {
  width: 100%;
  clear: both;
  text-align: right;
  font-size: 14px;
  margin-bottom: 20px;
  color: #2e3235;
  line-height: 1.4em;
}
.pop_cert .pop_cert_MD .cert_pp_txt {
  width: 100%;
  clear: both;
  text-align: left;
  font-size: 15px;
  margin-bottom: 20px;
  color: #2e3235;
  line-height: 1.4em;
}
.pop_cert .pop_cert_MD .cert_pp_txt b {
  color: #e74445;
}
.pop_cert .pop_cert_MD .cert_pp_date {
  width: 100%;
  clear: both;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  color: #2e3235;
  line-height: 1.4em;
}
.pop_cert .pop_cert_MD .cert_pp_stamp {
  width: 100%;
  clear: both;
  text-align: right;
  font-size: 14px;
  margin-bottom: 20px;
  color: #2e3235;
  line-height: 1.4em;
  position: relative;
  padding-right: 15px;
  z-index: 1;
  line-height: 36px;
}
.pop_cert .pop_cert_MD .cert_pp_stamp i {
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 36px;
  z-index: -1;
}
