/* common */
*, *:before, *:after{.border-box;}
html{overflow-y:scroll;}
body{.poR;-webkit-print-color-adjust:exact;}
.wrap_bookFriend{.w100p;min-width:1100px;}
.HD{.w100p;.taC;.bdrB;}
.MD{.w100p;.taC;.mB50;}
.FT{.w100p;height:80px;.m0auto;.bdrT;}
