/* 관리팝업(레이어) */
.adminPop{.poA;.z1000;.taC;
    .pop_img{
        &:after{.after;}
    }
    .today{.m0auto;padding:7px 10px;.dpinblock;.bg-black;color:@white;.f12;.radius(2px);.mT10;
        input{.vaM;}
        .adminPop_x{width:15px;height:15px;.bgih(url('/images/main/adminPop_x.gif'));.dpinblock;.mL10;.vaM;}
    }
}
