/* 관리팝업(레이어) */
.adminPop {
  position: absolute;
  z-index: 1000;
  text-align: center;
}
.adminPop .pop_img:after {
  content: "";
  height: 0;
  line-height: 0;
  clear: both;
  display: block;
  *zoom: 1;
}
.adminPop .today {
  margin: 0 auto;
  padding: 7px 10px;
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  border-radius: 2px;
  margin-top: 10px;
}
.adminPop .today input {
  vertical-align: middle;
}
.adminPop .today .adminPop_x {
  width: 15px;
  height: 15px;
  background-image: url('/images/main/adminPop_x.gif');
  background-repeat: no-repeat;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -999;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
