/* 바로가기 */
.main_dgo{width:480px;height:200px;.bdrA;.fL;
    ul{.w100p;
        &:after{.after;}
        li{.f17;color:@gray-53;.lh13em;
            a{.dpblock;.w100p;}
            i{.bgi(url('/images/main/main_dgo.png'));}
            strong{color:@orange;}
        }
        li:first-child{.fL;width:249px;height:200px;.bdrR;.taC;
            a{height:200px;.taC;
                i{.dpinblock;width:120px;height:120px;.bgpo(0,0);margin:20px auto 10px auto;}
                span{.taC;.dpinblock;.w100p;}
            }
        }
        li:nth-child(2){.fL;width:229px;height:100px;.bdrB;
            a{height:100px;
                i{.dpinblock;width:60px;height:60px;.bgpo(0,-150px);.fR;margin:20px 30px 0 0;.poR;}
                span{margin:40px 0 0 30px;.dpinblock;.poR;}
            }
        }
        li:last-child{.fL;width:229px;height:100px;
            a{width:229px;height:98px;.bgi(url('/images/main/btn_reading.png'));.dpblock;.hidden;}
        }
    }
}

마지막 부분에 추가

/* 관리팝업(새창) */
.modalWindow{.poF;width:400px;height:340px;.bg-white;top:150px;left:50%;margin-left:-200px;.z1000;border:3px solid @blue;padding:30px 40px;
    .modalWrapper{.taL;.w100p;.lh15em;.f15;color:@gray-55;
        p{.mB15;}
        b{color:@red;.nbgB;}
        .popBtnArea{.w100p;.taC;.mB15;.bdrT;.pT15;}
    }
    .today_w{.w100p;height:40px;.lh40;.bg-white;color:@gray-55;.f12;.pR10;.taR;
        .not_today{.fL;}
        .adminPop_x{width:15px;height:15px;.bgih(url('/images/main/adminPop_x.gif'));.dpinblock;.mL20;}
    }
}
.modal.overlay{.poF;top:0;left:0;width:100%;min-height:100%;background:rgba(0, 0, 0, 0.7);z-index:997;}
