@import "config.less";

.MD_in{min-height:700px;}

/* 공지사항 > 검색 */
.srh_w{width:100%;.taR;.mB15;}
.srh_w fieldset{.fR;.dpinblock;.taR;}
.srh_w .sel_w{.dpinblock;}
select{width:100%;.bdrA;height:40px;padding:0 10px;.f15;color:@gray-t1;}
.srh_w input[type=text]{text-indent:10px;.bdrA;height:40px;line-height:40px;color:@gray-t1;.f15;.radius(3px);.mL07;width:40%;}
.srh_w input[type=button]{height:40px;padding:0 15px;.bgBtn-1;color:@white;.f15;;line-height:40px;.bdrn;.taC;.mL07;.radius(3px);.pointer;} 

/* 공지사항 > 목록 */
.notice .no_result{width:100%;height:100%;.taC;.f17;color:@gray-t1;line-height:130px;}
.n_list>li{width:100%;min-height:130px;.bdrA;.radius(10px);.bgwhite;.mB10;}
.notice_w{padding:15px 30px 15px 100px;.poR;}
.notice_w .date{.taC;line-height:30px;.poA;left:20px;top:30px;}
.n_list .date .d_month{.f50;color:@gray-6;.robotoBB;}
.n_list .date .d_day{.f40;color:@gray-6;.robotoBB;}
.n_list .ttl{width:100%;}
.n_list .ttl a{color:@black;.f19;line-height:50px;.elli;width:100%;}
.n_list .con{color:@gray-t8;.f14;.lh20;height:40px;.line-clamp(2);.elli_multi;}

/* button */
.btnAreaR{width:100%;.taR;padding:10px 0;.clr;} .btnAreaC{width:100%;.taC;padding:10px 0;.clr;} .btnAreaL{width:100%;.taL;padding:10px 0;.clr;}
.button{height:40px;padding:0 15px;color:@white;.f15;;line-height:40px;.bdrn;.taC;.mL07;.radius(3px);.pointer;.trans;.dpinblock;.tdnone;} .button:hover{.tdnone;}
.button-1{.bgBtn-4;}
 
/* paginate */
.paginate_w{.w100p;.taC;.mT20;}
.paginate{.dpinblock;.m0auto;}
.p_btn, .p_menu{.dpinblock;.vaM;height:40px;}
.p_btn + .p_btn, .p_btn + .p_menu, .p_menu + .p_btn, .p_menu + .p_menu{.mL10;}
.p_btn{border:0;.bgnavy;padding:8px 20px;min-width:70px;font-size:1.2em;color:#ffffff;}
.p_btn:first-child{border-radius:4px 0 0 4px;}
.p_btn:last-child{border-radius:0 4px 4px 0;}
.p_menu{.poR;}
.p_menu_select{.bdrA;height:100%;min-width:80px;.pL15;.taC;.bgwhite;-webkit-appearance:none;}

/* 공지사항 > 읽기 */
 .brd_view_tit{border-top:3px solid @sec-color;.bgwhite;.clr;width:100%;.clearfix;
    li{border-bottom:1px solid @gray-7;.clr;.f15;width:100%;.fL;}
    li.bv_tit{.taC;.f19;padding:10px 0;.lh25;}
    li.bv_info{.taL;.f13;padding:10px 0;
        strong{color:@gray-1;padding:4px 8px;background-color:@gray-t9;color:@white;.radius(3px);.dpinblock;}
        span{color:@gray-t1;padding:0 10px 0 8px;}
        .date{.fR;.mT05;}
    }
    li.bv_file{.taL;.f13;padding:10px 0;
        strong{.fL;color:@gray-1;padding:4px 10px;background-color:@gray-t9;color:@white;.radius(3px);.dpinblock;}
        ul.bv_file_list{.fL;.f13;
            li{border:none;margin:5px 0;}
        }
        a{color:@gray-t1;padding:0 10px 0 10px;}
        a:hover{color:@sec-color;color:@gray-t1;border:none;}
    }
 }
.brd_view_con{padding:15px;.bgwhite;border-bottom:1px solid @gray-7;}
.preview_list{.mT50;border-top:3px solid @sec-color;.bgwhite;.clr;width:100%;.clearfix;
    li{border-bottom:1px solid @gray-7;.clr;.f15;width:100%;.fL;
        strong{.fL;width:100px;padding:17px 0;background-color:@gray-t9;color:@white;.taC;}   
        .title{.fL;max-width:900px;padding:17px 20px;.ellipsis;.nowrap;color:@gray-t1;}
        .date{.fR;padding:17px 20px;color:@gray-t9;}
        a:hover{color:@sec-color;}
    }
}
.brd_view span.new, .preview_list span.new{.f11;color:@white;padding:4px 10px;.bgpink;.radius(3px);.mL05;.dpinblock;.lh17;}

/* FAQ */
.faq{border-top:3px solid @sec-color;margin:50px 0 50px 0;}
.faq ul{.mB30;
     li{.bdrB;
        .head{.poR;height:60px;padding:0 20px 0 20px;overflow:hidden;
            .subj{.poR;padding:0 30px 0 38px;*zoom:1;.f19;.nowrap;height:60px;line-height:60px;.elli;width:100%;
                a:hover{.tdnone;}
            }
            .subj:after{content:"Q";.poA;left:0;top:50%;margin-top:-14px;width:28px;height:28px;border-radius:50%;background:@sec-color;color:#fff;.robotoM;.taC;line-height:28px;.f14;}
            .arrow{.poA;right:30px;top:25px;width:15px;height:8px;background:url('/img/faq_arw.png') center bottom no-repeat;.pointer;}
        }
        .content{.dpnone;.bgwhite;color:@gray-t1;.lh19;.f15;
            .inner{padding:30px;}
        }
     }
     li.open{.bgpink;
        .head{
            .subj a{color:@white;}
            .subj:after{color:@pri-color;background:@white;}
            .arrow {background-position:center top;}
        }
     }
}

/* 홍보자료 > 목록 */
.pr_list{.w100p;.clearfix;}
.pr_list>ul>li{.bgwhite;.fL;.mB20;}

.list_w{.poR;.pointer;padding:10px;}
.list_w .normal{width:100%;}
.list_w .thumb{width:100%;overflow:hidden;display:block;}
.list_w .thumb img{width:100%;height:auto;}
.list_w .kind{width:60px;height:30px;display:inline-block;.taC;color:@white;.f12;line-height:30px;}
.list_w .kind.k_pr{.bgyellow;}
.list_w .date{.pL15;color:@gray-3;.f12;}
.list_w .tit{color:@black;.f15;.lh19;}
.list_w .con{color:@gray-2;.f13;.lh19;}

@media (min-width:1000px) {
    .pr_list>ul>li{width:25%;}
    .list_w .thumb{height:150px;}
    .list_w .tit{margin:15px 10px 10px 10px;width:100%;height:20px;.elli;}
    .list_w .con{margin:0 10px 10px 10px;height:40px;.line-clamp(2);.elli_multi;}
}
@media (min-width:800px) and (max-width:999px) {
    .pr_list>ul>li{width:33.3%;}
    .list_w .thumb{height:160px;}
    .list_w .tit{margin:15px 10px 10px 10px;width:100%;height:20px;.elli;}
    .list_w .con{margin:0 10px 10px 10px;height:40px;.line-clamp(2);.elli_multi;}
}
@media (min-width:550px) and (max-width:799px) {
    .pr_list>ul>li{width:50%;}
    .list_w .thumb{height:160px;}
    .list_w .tit{margin:15px 10px 10px 10px;width:100%;height:20px;.elli;}
    .list_w .con{margin:0 10px 10px 10px;height:60px;.line-clamp(3);.elli_multi;}
}
@media (max-width:549px) {
    .pr_list>ul>li{width:100%;}
    .list_w .thumb{height:auto;}
    .list_w .tit{margin:15px 10px 10px 10px;width:100%;height:20px;.elli;}
    .list_w .con{margin:0 10px 10px 10px;height:40px;.line-clamp(2);.elli_multi;}
}

/* 찾아오시는 길 */
.map{.pB20;}
.map .sub_map{width:100%;.bdrT;.bdrB;.mB20;
    #sub_dmap{width:100%;height:500px;}
}
.map_info{width:100%;.clearfix;.taL;
    li{width:100%;.clearfix;padding:10px 0;
        .tit{width:100%;.bdrA;.bgwhite;.taC;padding:10px 0;color:@sec-color;.f15;.mB10;}
        .con{color:@gray-1;.f15;padding:10px 0;.lh19;
            span{width:50px;height:50px;.taC;line-height:48px;.f13;.radius(50%);.bgwhite;.dpinblock;.mR05;color:@black;}
            span.red{border:3px solid #C91017;}
            span.green{border:3px solid #48922D;}
            span.blue{border:3px solid #3353A2;}
            .bus_num{.taC;width:100%;
                span{.mB10;}
            }
            .bus_stop{.taC;}
        }
    }
}

/* 주차안내 */
.parking{padding:20px 0;.taC;
    .t1{width:100%;.taC;.f24;color:@gray-1;.mB50;.lh30;}
    .t2{width:100%;.taL;.f13;color:@gray-1;.mB10;.lh19;color:@gray-t1;}
    h3{color:@pri-color;.f24;padding:30px 0 20px 0;.lh30;.taL;}
    .tbl_type_1{min-width:500px;}
}
.parking_lot{.clearfix;.m0auto;
    li{height:180px;.dpinblock;background-image:url('/img/parking.png');.bgrn;
        .cir{
            .tp{color:@pri-color;.f30;.oswaldM;.fL;.mR10;}
            .bt{color:@gray-t1;.f17;.fL;
                strong{.f24;.oswaldM;}
            }
        }
        .txt{.f24;color:@gray-t7;padding:20px 0 0 20px;.fL;}
        .dis{color:@gray-t7;padding:8px 0 0 0;.f15;clear:both;}
    }
    li.lot_1{width:250px;background-position:right 30px;}
    li.lot_2{width:250px;background-position:right -170px;}
    li.lot_3{width:250px;background-position:right -370px;}
}
.parking_come{.clearfix;.mL50;.mB20;}
.parking_ask{.mT30;width:100%;.radius(10px);.bgwhite;.bdrA;.taC;.f18;color:@gray-t1;padding:15px 0;.lh30;
    strong{.oswaldM;color:@pri-color;.vaM;.f24;}
}

/* 조직도 */
.organ{padding:20px 0;.taC;
    .tbl_type_1{min-width:450px;}
}
.organ_img{width:100%;.taC;.mB50;
    img{width:100%;height:auto;max-width:1051px;}
    p{.hidden;}
}
.contact_tel{width:100%;.m0auto;.mB20;
    li{.dpinblock;.mB10;}
    li:first-child{.mR20;}
    strong{.dpinblock;.bgnavy;color:@white;.f15;padding:10px 15px;.mR15;.radius(5px);.vaM;}
    span{color:@pri-color;.oswaldM;.f30;.vaM;}
}

@media (max-width:400px) {
    .contact_tel{
        li:first-child{.mR00;}
        strong{.f13;}
        span{.f21;}
    }
}

/* 인사말 */
.greet_tp{background-image:url('/img/greet.png');background-repeat:no-repeat;background-position:right top;background-size:auto 480px;min-height:480px;
    p{padding:20px 0 0 20px;.f30;color:@gray-t1;line-height:40px;
        strong{color:@pri-color;}
    }
    div{padding:30px 0 0 30px;}
}
.greet_bt{color:@gray-t1;.f17;line-height:25px;
    p{.mB15;}
}

@media (min-width:670px) and (max-width:999px) {
    .greet_tp{background-size:auto 300px;min-height:300px;
        p{padding:20px 0 0 20px;.f24;line-height:30px;
        }
        div{padding:30px 0 0 30px;
            img{width:200px;height:auto;}
        }
    }
}
@media (min-width:500px) and (max-width:669px) {
    .greet_tp{background-size:auto 180px;min-height:180px;
        p{padding:20px 0 0 20px;.f24;line-height:30px;
        }
        div{padding:10px 0 0 20px;
            img{width:130px;height:auto;}
        }
    }
}
@media (min-width:400px) and (max-width:499px) {
    .greet_tp{background-size:auto 120px;min-height:120px;.mB20;
        p{padding:10px 0 0 10px;.f21;line-height:27px;
        }
        div{padding:10px 0 0 10px;
            img{width:120px;height:auto;}
        }
    }
}
@media (max-width:399px) {
    .greet_tp{background-size:auto 100px;min-height:100px;.mB20;
        p{padding:10px 0 0 10px;.f15;line-height:20px;
        }
        div{padding:10px 0 0 10px;
            img{width:100px;height:auto;}
        }
    }
}

/* 지원업무 */
.support{.pTB20;}
.support .support_box{.bgwhite;.bdrA;.radius(10px);padding:20px;.mB20;width:100%;
    h3{color:@pri-color;.f24;line-height:30px;.mB15;}  
    .txt li{color:@gray-t1;.mB10;}
}
.support .support_img{.w100p;.poR;.dpinblock;.taC;
    div{.radius(10px);height:200px;.dpinblock;.mR10;.mB10;overflow:hidden;}
    div.img-1{width:500px;.taC;}
    div.img-2{width:290px;.taC;}
    div.img-3{width:290px;.taC;}
    div.img-4{width:290px;.taC;}
    div.img-5{width:500px;.taC;}
    div.img-6{width:290px;.taC;}
    img{width:auto;height:200px;}
}
@media (min-width:520px) and (max-width:700px) {
    .support .support_img{
        div{.mR00;}
        div.img-1{width:500px;.taC;}
        div.img-2{width:220px;.taC;margin:0 1%;}
        div.img-3{width:220px;.taC;margin:0 1%;}
        div.img-4{width:150px;.taC;margin:0 1%;}
        div.img-5{width:150px;.taC;margin:0 1%;}
        div.img-6{width:150px;.taC;margin:0 1%;}
    }
}
@media (max-width:519px) {
    .support .support_img{
        div{.mR00;height:120px;}
        div.img-1{width:100%;.taC;}
        div.img-2{width:48%;.taC;margin:0 1%;}
        div.img-3{width:48%;.taC;margin:0 1%;}
        div.img-4{width:32%;.taC;margin:0 1%;}
        div.img-5{width:31%;.taC;margin:0 1%;}
        div.img-6{width:31%;.taC;margin:0 1%;}
        img{width:auto;height:120px;}
    }
}

/* 섬유박물관 */
.museum{width:100%;.pTB20;
    h3{.f24;color:@pri-color;.mB15;} 
    .t1{.f14;.lh19;.mB15;color:@gray-t1;}
    .t2{.f14;.lh19;color:@gray-t1;}
    .btn{.mT20;
        a{.radius(5px);.dpblock;.bgpink;.taC;color:@white;.f15;overflow:hidden;height:50px;line-height:50px;padding:0 20px;
            i{width:30px;height:30px;background:url('/img/btn_museum.png') no-repeat;.dpinblock;background-size:auto 30px;.vaM;.mL10;}
        }
        a:hover{.tdnone;}
    }
    .btn2{.mT10;
        a{.radius(5px);.dpblock;.bgpink;.taC;color:@white;.f15;overflow:hidden;height:50px;line-height:50px;padding:0 20px;
            i{width:35px;height:30px;background:url('/img/btn_museum_info.png') no-repeat;.dpinblock;background-size:auto 30px;.vaM;.mL10;}
        }
        a:hover{.tdnone;}
    }
    ul li{.lh19;.f14;color:@gray-t1;}
}
.museum_box{width:100%;.radius(10px);.bdrA;padding:20px 15px 60px 20px;background:url('/img/bg_museum.png') right bottom no-repeat;background-size:auto 80px;.oh;}
.museum_pic{width:100%;
    li{width:23%;margin:1%;.fL;.radius(10px);.bdrA;.oh;
        img{width:100%;height:auto;}
        span{width:100%;height:40px;.f16;line-height:40px;.bgpink;color:@white;.dpinblock;.taC;}
    }
}
@media (max-width:700px) {
    .museum_pic{
        li{width:48%;margin:1%;.fL;.radius(10px);.bdrA;.oh;
            img{width:100%;height:auto;}
            span{width:100%;height:40px;.f16;line-height:40px;.bgpink;color:@white;.dpinblock;.taC;}
        }
    }
}

/* 대관안내>다목적홀,세미나실,기획전시실*/
.rent h3{.f24;color:@pri-color;.mB15;line-height:30px;}
.rent_li li{color:@gray-t1;.mB05;
        strong{.dpinblock;width:110px;.taC;height:30px;line-height:30px;color:@gray-1;.radius(5px);.mR05;}
}
.rent .tbl_type_1{min-width:500px;}

/* 비즈니스센터>입주기업소개*/
.bc_company{.pTB20;
   h3{.f24;color:@pri-color;.mB15;}  
   .com_box{.bdrA;.radius(10px);.mB20;padding:15px;
        h4{.taC;.mB20;}        
        ul>li{.mB05;color:@black;}
        ul>li>ul{.mT05;}
        ul>li>ul>li{color:@gray-t1;}
   }
}
.tabs-content{z-index:2;.taL;width:100%;.mB30;}
.tabs-content{.trans;}
.tabs-content::after{content:"";height:0;line-height:0;clear:both;display:block;*zoom:1;}
.tabs-menu>ul{.mB30;}
.tabs-menu>ul::after{content:"";height:0;line-height:0;clear:both;display:block;*zoom:1;}
.tabs-menu>ul>li{.fL;}
.tabs-menu>ul>li>a{display:block;color:#666;.bgwhite;border:1px solid #ddd;.pointer;.tdnone;}
.tabs-menu>ul>li>a{.trans;}
.tabs-menu>ul>li>a:hover{.bgnavy;color:@white;.tdnone;}
.tabs-menu>ul>li>a.active-tab-menu{.bgpink;border:1px solid @pri-color;color:@white;}
.tabs-t1>ul>li{margin-right:10px;}
.tabs{.dpnone;}
.tabs-content .first-tab{.dpblock;}
@media (min-width:700px) {
    .tabs-menu>ul>li>a{height:50px;line-height:50px;padding:0 30px;.f17;}
    .tabs-t1>ul>li{margin-right:10px;}
}
@media (min-width:400px) and (max-width:699px) {
    .tabs-menu>ul>li>a{height:40px;line-height:40px;padding:0 20px;.f15;}
    .tabs-t1>ul>li{margin-right:2px;}
}
@media (max-width:399px) {
    .tabs-menu>ul>li>a{height:40px;line-height:40px;padding:0 15px;.f15;}
    .tabs-t1>ul>li{margin-right:-1px;}
}
@media (max-width:599px) {
    .tabs-content img{width:100%;height:auto;}
}

/* 비즈니스센터>판매 및 근린생활시설*/
.bc_life{.pTB20;
   h3{.f24;color:@pri-color;.mB15;} 
   h4{.f18;color:@black;.mB15;}
   p{color:@gray-t1;.lh19;}
}

/* 비즈니스센터>입주문의*/
.bc_qna{.pTB20;
    .qna_box{.radius(10px);height:220px;padding:20px;.bdrA;background-image:url('/img/i_bc_qna.png');.bgrn;background-position:center bottom;background-size:500px auto;.oh;
        p.tit{.f24;color:@pri-color;.mB15;.taC;}
    }
    h3{.f24;color:@pri-color;.mB15;} 
    h4{.f18;color:@black;.mB15;.dpinblock;.bgnavy;.radius(10px);padding:0 20px;color:#fff;line-height:30px;}
    p{color:@gray-t1;.lh19;}
}

/* DTC소개>건물소개 */
.building{.pB20;
     h3{.f24;color:@pri-color;.mB15;} 
    .img{.mB30;width:100%;.taC;
        img{width:100%;height:auto;max-width:900px;}
    }
    .info{.mB30;
        li{border-bottom:1px dotted @gray-4;.f13;color:@gray-t1;padding:7px;.poR;
            strong{.dpinblock;color:@white;.bgnavy;padding:6px 0;width:70px;.taC;.radius(5px);.poA;left:0;top:7px;}
            span{.dpinblock;margin-left:80px;padding:7px 0;}
        }
        li:first-child{border-top:1px dotted @gray-4;}
    }
    .tbl_type_1{min-width:480px;}
}

/* 비즈니스센터>비즈니스센터 소개 */
.bc_intro{.pB20;
     h3{.f24;color:@pri-color;.mB15;} 
     .img{.taC;
        img{width:100%;height:auto;}
        .img_01{max-width:604px;}
     }
    .movein_info_2{width:100%;.clearfix;}
    .movein_info_2>li{width:100%;.bdrA;.bgwhite;.fL;.mB20;}
    .movein_info_2 dl{width:100%;height:100%;.poR;padding:20px;
        dt{margin:0 0 0 40px;color:@gray-1;.f17;}
        dd.num{.poA;left:0;top:0;width:70px;height:70px;color:@white;.f17;padding:13px 0 0 19px;background:url('/img/bg_movein_bt_box_tit.png') no-repeat;}
        dd.con{margin:10px 0 0 40px;color:@gray-t1;.f15;
            li{.mB05;}
        }
    }
}
.movein_tp{width:100%;}
@media (min-width:500px) {
    .movein_tp_box{border-top:4px solid @pri-color;.mB20;.bgwhite;.bdrA;.bgrn;background-size:90px auto;
        dl{width:100%;padding:0 100px 15px 0;
            dt{width:180px;height:40px;.bgpink;line-height:40px;color:@white;.f19;.taL;.pL10;.mB10;}
            dd.stit{color:@gray-1;.f17;.lh21;.pB10;margin-left:15px;}
            dd.con{color:@gray-t1;.f14;.lh19;margin-left:15px;}
        }       
    }
    .box-1{background-image:url('/img/tp_box_01.png');background-position:right top;}
    .box-2{background-image:url('/img/tp_box_02.png');background-position:right top;}
    .box-3{background-image:url('/img/tp_box_03.png');background-position:right bottom;}
}
@media (max-width:499px) {
    .movein_tp_box{border-top:4px solid @pri-color;.mB20;.bgwhite;.bdrA;background-image:none;
        dl{width:100%;padding:0 15px 15px 0;
            dt{width:180px;height:40px;.bgpink;line-height:40px;color:@white;.f19;.taL;.pL10;.mB10;}
            dd.stit{color:@gray-1;.f17;.lh21;.pB10;margin-left:15px;}
            dd.con{color:@gray-t1;.f14;.lh19;margin-left:15px;}
        }       
    }
}
.tl_gallery{width:100%;
    li{.fL;margin:1%;
        img{width:100%;height:auto;}
    }
}
@media (min-width:600px) {
    .tl_gallery{
        li{width:23%;}
    }
}
@media (max-width:599px) {
    .tl_gallery{
        li{width:48%;}
    }
}
.support_com{width:100%;
    li{width:33%;.fL;
        img{width:100%;height:auto;max-width:200px;}
    }
}

/* 비전 및 목표 */
.vision{.pTB20;
    h3{color:@pri-color;.f30;}
    .infog{padding:20px 0 20px 0;.taC;width:100%;
        img{width:100%;height:auto;}
        p{.hidden;}
    }
    .infog-1 img{max-width:934px;}
    .infog-2 img{max-width:1021px;}
    .infog-3 img{max-width:787px;}
}
@media (max-width:599px) {
    .vision{
        h3{.f18;}
    }
}

/* CI소개 */
.ci{width:100%;.pTB20;
    h3{.f24;color:@pri-color;.pB30;.taC;}
    h3.eng{.oswaldL;.taC;}
}
.ci .concept{width:100%;.clearfix;.mB30;
    .ci_img{width:100%;.taC;.mB20;
        img{.bdrR;.bdrB;.shadow-2;padding:20px;}
    }
    .ci_exp{.taC;
        .tit{color:@sec-color;.f19;.mB10;}
        .txt{color:@gray-t1;.lh21;.f15;}
    }
}
.ci_w{width:100%;.clearfix;
    .ci_o{width:100%;.taC;.mB20;
        img{.bdrR;.bdrB;.shadow-2;padding:20px;width:100%;height:auto;}
        .ci_img_01{max-width:326px;}
        .ci_img_02{max-width:413px;}
        .ci_img_03{max-width:424px;}
        .ci_img_04{max-width:286px;}
        .ci_img_05{max-width:459px;}
        .ci_img_06{max-width:466px;}
        .ci_img_07{max-width:450px;}
        .ci_img_08{max-width:464px;}
    }
}

/* 대관안내 */
.rent_guide{.taC;width:100%;
   h3{.f24;color:@pri-color;.pB30;.taC;}
    .tbl_type_1{min-width:500px;}
    p{.lh21;.taL;}
    .img{.taC;
        img{width:100%;max-width:900px;height:auto;}
    }
    .rent_li li{color:@gray-t1;.mB05;line-height:21px;padding-left:100px;.poR;.mB10;.pT05;.taL;
        strong{.poA;left:0;top:0;.dpinblock;width:90px;.taC;height:30px;line-height:30px;.bgnavy;color:@white;.radius(5px);}
    }
     dl{.dpinblock;width:300px;.m0auto;
        dt{width:100px;height:100px;background:url('/img/bg_rent_qna.png') no-repeat;.taC;.f15;color:@white;.pT15;.fL;.mR20;}
        dd.team{.fL;.pT20;.f15;color:@gray-1;}
        dd.tel{.fL;.pT10;.f15;color:#025e6e;.f30;.oswaldM;}
    }
}
.r_list>li{width:100%;.bdrA;.radius(10px);.bgwhite;.mB10;}
.rent_w{padding:15px 20px 15px 20px;.taL;
    .ttl{width:100%;}
    .ttl a{color:@black;.f19;line-height:30px;.elli;width:100%;}
    .con{color:@gray-t8;.f14;.lh20;
        span.writer{.fL;.mR20;}
        span.date{.fL;}
        span.file{.fR;}
    }
}

/* 전시 및 행사일정 */
.event>ul>li{width:100%;.bdrA;.radius(10px);.bgwhite;.mB10;padding:10px;}
.event_w{width:100%;
    .thumb{.fL;.mR20;
        img{width:200px;height:auto;}
    }
    .con{.fL;
        .ttl{width:100%;.mB10;
            a{color:@black;.f19;.elli;width:100%;}
            span.ing{.dpinblock;.bgpink;color:@white;.f13;.taC;width:60px;.radius(3px);line-height:27px;}
            span.end{.dpinblock;.bgblack;color:@white;.f13;.taC;width:60px;.radius(3px);line-height:27px;}
        }
        ul>li{color:@gray-t1;.mB05;line-height:21px;padding-left:100px;.poR;.mB10;.pT05;.taL;
            strong{.poA;left:0;top:0;.dpinblock;width:90px;.taC;height:30px;line-height:30px;.bgblue;color:@white;.radius(5px);}
        }
    }
}
@media (max-width:799px) {
    .event_w{width:100%;
        .thumb{width:100%;.taC;.mB10;
            img{width:100%;height:auto;max-width:520px;}
        }
        .con{width:100%;
            .ttl{width:100%;.mB10;
                a{color:@black;.f19;.elli;width:100%;}
                span.ing{.dpinblock;.bgpink;color:@white;.f13;.taC;width:60px;.radius(3px);line-height:27px;}
                span.end{.dpinblock;.bgblack;color:@white;.f13;.taC;width:60px;.radius(3px);line-height:27px;}
            } 
            ul>li{color:@gray-t1;.mB05;line-height:21px;padding-left:100px;.poR;.mB10;.pT05;.taL;
                strong{.poA;left:0;top:0;.dpinblock;width:90px;.taC;height:30px;line-height:30px;.bgblue;color:@white;.radius(5px);}
            }
        }
    }  
}

.event_view{width:100%;.bdrB;.pB20;
    ul{width:100%;border-top:3px solid @sec-color;
        li{.bdrB;}
        li.tit{color:@black;.f19;.taC;padding:15px 0;
            span.ing{.mL10;.dpinblock;.bgpink;color:@white;.f13;.taC;padding:7px 10px;.radius(3px);}
            span.end{.mL10;.dpinblock;.bgblack;color:@white;.f13;.taC;padding:7px 10px;.radius(3px);}
        }
        li.con{color:@gray-t1;.f15;padding:10px 0;
            strong{margin:0 20px;.dpinblock;.bgblue;color:@white;.f13;.taC;width:100px;padding:8px 0;.radius(5px);}
        }
    }
    .dimg{.taC;
        img{width:100%;height:auto;max-width:770px;}
    }
}

/* 메인 */
#main_MD{width:100%; height:100%;z-index:1;min-width:320px;}

/* 메인 > 뉴스 */
.main_news{padding:0 2%;.taL;}
.main_news>li{width:100%;.bdrA;.radius(10px);.bgwhite;.mB10;}
.main_news_w{padding:15px 30px 15px 80px;.poR;
    .news_type{width:40px;height:40px;background-image:url('/img/main_news.png');.bgrn;background-size:40px auto;.dpinblock;.poA;left:20px;top:20px;}
    .news_type.notice{background-position:0 0;}
    .news_type.press{background-position:0 -50px;}
    .date{.taC;line-height:20px;.poA;left:20px;top:70px;
        .d_month{.f30;color:@gray-6;.robotoBB;}
        .d_day{.f30;color:@gray-6;.robotoBB;}
    }
    .ttl{width:100%;
        a{color:@black;.f19;line-height:50px;.elli;width:100%;}
    }
    .con{color:@gray-t8;.f14;.lh20;height:60px;.line-clamp(3);.elli_multi;}
}

/* 메인 > 시설안내 */
ul.main_building{.w100p;.clearfix;
    li{.fL;.bdrA;.radius(10px);width:23%;margin:1%;padding:10px 0;}
    li.building-1{
        .ico{background-position:center 20px;}
    }
    li.building-2{
        .ico{background-position:center -200px;}
    }
    li.building-3{
        .ico{background-position:center -380px;}
    }
    li.building-4{
        .ico{background-position:center -590px;}
    }
    a{.ablock;.taC;.poR;overflow:hidden;
        .ico{background-image:url('/img/ico_building.png');.bgrn;.dpblock;.mB10;width:100%;height:80px;background-position:center 0;}
        .kor{color:@black;.f21;line-height:35px;}
        .eng{color:@gray-6;.f14;line-height:16px;.oswaldL;.mB15;}
        .detail{width:50px;height:50px;.radius(50%);.bdrA;margin:0 auto;.hidden;background-image:url('/img/btn_dgo.png');.bgrn;background-position:0 0;}
    }
    a:hover{.tdnone;
        .detail{background-position:0 -50px;.bgblack;.trans;border:1px solid @black;}
    }
}
@media (max-width:620px) {
    ul.main_building{
        li{width:48%;margin:1%;}
    }
}

/* 메인 > 전시 및 행사일정 */
.event_ttl{width:100%;.bgmint;color:@white;.f24;.taL;line-height:50px;.pL15;.poR;
    a.more{width:24px;height:24px;.poA;right:12px;top:12px;.hidden;background-image:url('/img/main_more.png');.bgrn;background-size:24px 24px;}
}
.main_gallery{.bglg;padding:10px 0;
    .gallery-cell{.mR10;}
    img{max-width:600px;}
}
@media (min-width:500px) and (max-width:599px) {
    .main_gallery img{max-width:450px;}
}
@media (min-width:500px) and (max-width:599px) {
    .main_gallery img{max-width:350px;}
}
@media (min-width:400px) and (max-width:499px) {
    .main_gallery img{max-width:250px;}
}
@media (max-width:399px) {
    .main_gallery img{max-width:300px;}
}

/* 메인 > visual */
.v_main{width:100%;height:300px;background-image:url('/img/v_main.png');.bgrn;background-size:100% auto;background-position:50% 50%;.taL;
    p.copy{.f30;color:@white;line-height:35px;padding:30px 0 0 30px;}
}
@media (min-width:400px) and (max-width:620px) {
    .v_main{height:200px;
         p.copy{.f24;color:@white;line-height:29px;padding:20px 0 0 20px;}
    }
}
@media (max-width:399px) {
    .v_main{height:160px;
        p.copy{.f18;color:@white;line-height:24px;padding:10px 0 0 10px;}
    }
}




