/* 탭 열고/닫기 */
.ico_refer2 {clear:both;display:block;font-size:14px;line-height:20px;color:#e74445;margin:10px 0 10px 13px;background:url(../images/sub/bullet_reference.gif) left 4px no-repeat;padding:3px 0 5px 25px}

/* 1-1-02. 권장도서 독후감 쓰기 / 서브메인 */
.box_explain ul li.refer{margin-top:10px;font-size:13px;color:#e74445;}

/* 1-2-01. 영역별 심사기준 */
.ex_standard {
  position: relative;
  width: 670px;
  height: 450px;
  margin: 20px auto;
  overflow: hidden;
}
.ex_standard .c_circle {
  display: block;
  width: 153px;
  height: 153px;
  margin: 147px auto 0;
  padding-top: 58px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
  background: url(../images/sub/bg_center_circle.gif) center top no-repeat;
  overflow: hidden;
}
.ex_standard .box_purple {
  position: absolute;
  left: 170px;
  top: 0;
  width: 155px;
  height: 138px;
  background: url(../images/sub/bg_box_purple.png) left top no-repeat;
  z-index: 2;
}
.ex_standard .box_wine {
  position: absolute;
  left: 350px;
  top: 0;
  width: 155px;
  height: 138px;
  background: url(../images/sub/bg_box_wine.png) left top no-repeat;
  z-index: 2;
}
.ex_standard .box_yellow {
  position: absolute;
  right: 0;
  top: 150px;
  width: 155px;
  height: 138px;
  background: url(../images/sub/bg_box_yellow.png) left top no-repeat;
  z-index: 2;
}
.ex_standard .box_green {
  position: absolute;
  left: 350px;
  bottom: 0;
  width: 155px;
  height: 138px;
  background: url(../images/sub/bg_box_green.png) left top no-repeat;
  z-index: 2;
}
.ex_standard .box_blue {
  position: absolute;
  left: 195px;
  bottom: 0;
  width: 155px;
  height: 138px;
  background: url(../images/sub/bg_box_blue.png) left top no-repeat;
  z-index: 2;
}
.ex_standard .box_orange {
  position: absolute;
  left: 170px;
  bottom: 0;
  width: 155px;
  height: 138px;
  background: url(../images/sub/bg_box_orange.png) left top no-repeat;
  z-index: 2;
}
.ex_standard .box_redbrown {
  position: absolute;
  left: 0;
  top: 150px;
  width: 155px;
  height: 138px;
  background: url(../images/sub/bg_box_redbrown.png) left top no-repeat;
  z-index: 2;
}
